<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xly.codemind.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="com.xly.codemind.model.bean.Question">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="questionTitle" column="questionTitle" jdbcType="VARCHAR"/>
            <result property="questionContent" column="questionContent" jdbcType="VARCHAR"/>
            <result property="questionTags" column="questionTags" jdbcType="VARCHAR"/>
            <result property="judgeCase" column="judgeCase" jdbcType="VARCHAR"/>
            <result property="judgeConfig" column="judgeConfig" jdbcType="VARCHAR"/>
            <result property="questionAnswer" column="questionAnswer" jdbcType="VARCHAR"/>
            <result property="questionDifficulty" column="questionDifficulty" jdbcType="INTEGER"/>
            <result property="submitNum" column="submitNum" jdbcType="INTEGER"/>
            <result property="acceptedNum" column="acceptedNum" jdbcType="INTEGER"/>
            <result property="createUser" column="createUser" jdbcType="BIGINT"/>
            <result property="editUser" column="editUser" jdbcType="BIGINT"/>
            <result property="questionStatus" column="questionStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionTitle,questionContent,
        questionTags,judgeCase,judgeConfig,
        questionAnswer,questionDifficulty,submitNum,acceptedNum,
        createUser,editUser,questionStatus,createTime,
        updateTime,isDelete
    </sql>
</mapper>
